/*
*  Phenogrid related styling
*/

#pg_svg_area{
position:relative;
}

#pg_gridline {
fill: #fff;
fill-opacity: 0;
stroke: #e5e5e5;
stroke-width: 1;
}

#pg_globalview {
fill: #fff;
stroke: #000;
stroke-width: 2;
}

.pg_row_accent,
.pg_col_accent {
stroke:#4CA092;
stroke-width: 2;
fill: #4CA092;
fill-opacity: 0.1;
}

.pg_model_score {
font-size:10px;
fill: #8763A3; /* purple */
}

.pg_model_label,
.pg_phenotype_label {
font-size:12px;
fill: #222;
}

#pg_selectionrect {
fill: grey;
opacity: 0.5;
cursor:move; /* Cursor for mini map */
}

.pg_instruct {
font-size:12px;
}

.pg_tip {
width: 80px;
height:10px;
font-size:10px;
}

#pg_toptitle {
font-size:1.4em;
font-weight:bold;
}

/* Phenogrid controls */
#pg_org_div,
#pg_sort_div,
#pg_calc_div,
#pg_axis_div {
float: left;
margin-right:10px;
}

#pg_org_div {
width:140px;
}

#pg_sort_div {
width:180px;
}

#pg_calc_div {
width:120px;
}

#pg_axis_div {
width: 120px;
}

#pg_organism,
#pg_sortphenotypes,
#pg_calculation,
#pg_axisflip {
margin-top: 5px; 
width:100%;
}

label.pg_ctrl_label{
font-weight:700;
}

.stickytooltip{
box-shadow: 5px 5px 8px #818181; /*shadow for CSS3 capable browsers.*/
-webkit-box-shadow: 5px 5px 8px #818181;
-moz-box-shadow: 5px 5px 8px #818181;
display:none;
position:absolute;
display:none;
border:1px solid #000;
background:#fff;
z-index:3000;
font:10px Arial;
}


.stickytooltip .stickystatus{ /*Style for footer bar within tooltip*/
background:black;
color:white;
padding-top:5px;
text-align:center;
font:bold 11px Arial;
}

#pg_controls {
margin-left:10px;
}

#pg_unmatched_phenotypes_container{
margin-top:10px;
}

/* Create some spacing between the checkbox and the label */
#pg_unmatched_checkbox{
margin-right:5px;
}

#pg_unmatched_phenotypes ul{
margin-left: 0;
padding-left: 0;
}

#pg_unmatched_phenotypes ul li{
margin-left:1.8em;
line-height:1.5;
font-size:.85em;
}

.pg_cursor_pointer {
cursor:pointer;
}

#pg_svg_container {
margin-top:40px;
}

#pg_specieslist {
font-weight:bold;
font-size:1.2em;
}

/* clearfix hack http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
content: " "; /* 1 */
display: table; /* 2 */
}

.clearfix:after {
clear: both;
}

/* Background color of jquery-ui dialog */
.pg_faqdialog_bg_color {
background-color: #fff !important;
}

.pg_HPO_icon{
margin-left:5px;
}

em.pg_HPO_tree_indent{
width:12px;
float:left;
display:inline-block;
height:1px;
}
