/*
*  Phenogrid related styling
*/
/* #pg_container contains SVG (#pg_svg) and HTML (#pg_controls, #pg_unmatched) */
#pg_container {
margin:20px 10px;
position:relative;
border:1px solid #ddd;
}

/* SVG tag */
#pg_svg {
min-width:980px;
min-height:780px;
}

/* HTML options popup */
#pg_controls {
position:absolute;
left:0;
top:0;
}

#pg_controls_options {
position:absolute;
min-width:200px;
height:484px;
background:#F1F3F8;
padding:20px;
font-size:12px;
color:#111;
border:1px solid #222;
box-shadow: 4px 4px 2px #ddd;
}

.pg_controls_options_arrow_border{
display: block;
position: absolute;
left: 17px;
bottom: -16px;
border-color: #222 transparent transparent transparent;
border-style: solid;
border-width: 8px;
height: 0;
width: 0;
}

.pg_controls_options_arrow{
display: block;
position: absolute;
left: 17px;
bottom: -15px;
border-color: #F1F3F8 transparent transparent transparent;
border-style: solid;
border-width: 8px;
height: 0;
width: 0;
}

#pg_slide_btn{
position:absolute;
width:90px;
font-size:14px;
color:#44A293;
}

#pg_slide_btn:hover{
cursor:pointer;
color:#DD3835;
}

.pg_slide_open{
color:#DD3835 !important;
}

label.pg_ctrl_label{
font-weight:700;
color:#DD3835;
}

#pg_controls input[type="checkbox"] {
display:inline-block;
width:11px;
height:11px;
margin:-2px 4px 0 0;
vertical-align:middle;
}

#pg_controls input[type="radio"] {
display:inline-block;
width:11px;
height:11px;
margin:-2px 4px 0 0;
vertical-align:middle;
}

.pg_hr{
clear:both;
margin:10px 0;
border-bottom:1px solid #cbcbcb;
}

.pg_select_item{
padding:2px 0;
}

/* HTML unmatched sources popup */
#pg_unmatched {
position:absolute;
left:0;
top:0;
}

#pg_unmatched_list {
position:absolute;
left:50px;
width:200px;
background:#F1F3F8;
padding:10px;
font-size:12px;
color:#111;
border:1px solid #222;
box-shadow: 4px 4px 2px #ddd;
}

.pg_unmatched_list_item {
margin:5px 0;
}

.pg_unmatched_list_arrow_border{
display: block;
position: absolute;
left: 80px;
top: -16px;
border-color: transparent transparent #222 transparent;
border-style: solid;
border-width: 8px;
height: 0;
width: 0;
}

.pg_unmatched_list_arrow{
display: block;
position: absolute;
left: 80px;
top: -15px;
border-color: transparent transparent #F1F3F8 transparent;
border-style: solid;
border-width: 8px;
height: 0;
width: 0;
}

#pg_unmatched_btn{
position:absolute;
left:28px;
width:200px;
text-align:right;
font-size:14px;
color:#44A293;
}

#pg_unmatched_btn:hover{
cursor:pointer;
color:#DD3835;
}

.pg_unmatched_open{
color:#DD3835 !important;
}

.pg_row_accent,
.pg_col_accent {
stroke:#4CA092;
stroke-width: 2;
fill: #4CA092;
fill-opacity: 0.1;
}

.pg_tip {
width: 80px;
height:10px;
font-size:10px;
}

#pg_scores_tip_icon{
font-size:12px;
cursor:pointer;
}

#mystickytooltip {
position: absolute;
}

#stickyInner {
box-shadow: 5px 5px 8px #818181; /*shadow for CSS3 capable browsers.*/
-webkit-box-shadow: 5px 5px 8px #818181;
-moz-box-shadow: 5px 5px 8px #818181;
border:1px solid #000;
background:#fff;
/*z-index:3000;*/
font:10px Arial;
padding: 3px;
}

/** Overwrite jquery-ui default style */
.ui-dialog-content {
font-size:11px;
font-family: arial;
color:#000;
}

.cursor_pointer {
cursor:pointer;
}

/* Cursor for mini map */
.pg_draggable{
cursor:move;
}

/* clearfix hack http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
content: " "; /* 1 */
display: table; /* 2 */
}

.clearfix:after {
content: " "; /* Older browser do not support empty content */
visibility: hidden;
display: block;
height: 0;
clear: both;
}

/* Background color of jquery-ui dialog */
.faqdialog_bg_color {
background-color: #fff !important;
}

.pg_active {
font-family: Verdana, Geneva, sans-serif;              
font-size: 11px;
font-weight: bold;
fill: blue;
}

.pg_related_active {
font-family: Verdana, Geneva, sans-serif;              
font-size: 11px;
fill: blue;
}

table.pgtb {
border-collapse: collapse;
border-spacing: 0;
}

table.pgtb td {
font-family: Verdana, Geneva, sans-serif;
font-size:11px;
border-style: none;
border-width:0px;
overflow:hidden;
word-break:normal;
}

table.pgtb th{
font-family: Verdana, Geneva, sans-serif;
font-size: 12px;
font-weight: bold;
padding:10px 5px;
overflow:hidden;
word-break:normal;
}

.pg_expandHPO{
text-decoration: underline;
color:#DC4945;
cursor:pointer;
}

.pg_HPO_icon{
margin-left:2px;
}

em.pg_tree_indent{
width:12px;
float:left;
display:inline-block;
height:1px;
}

.pg_cursor_pointer {
cursor:pointer;
}

#pg_org_sel {
margin-right: 5px;
}

.pg_focusLine {
fill: none;
stroke: red;
shape-rendering: crispEdges;
}

.pg_rowcolmatch {
fill: red !important;
border-style: solid;
border-width: medium;
}











