/*
*  Phenogrid related styling
*/

#pg_svg_area{
position:relative;
}

#pg_errmsg {
padding-top: 30px;
font-size:1.2em;
/**font-weight:bold;*/
stroke:#ea763b;
}

#pg_gridline {
fill: #fff;
fill-opacity: 0;
stroke: #e5e5e5;
stroke-width: 1;
}

#pg_globalview {
fill: #fff;
stroke: #000;
stroke-width: 2;
}

.pg_row_accent,
.pg_col_accent {
/*stroke:#ea763b;*/
stroke:#4CA092;
stroke-width: 2;
fill: #4CA092;   /*#fff;*/
fill-opacity: 0.1;    /*0.05;*/
}

/*
.pg_gene_accent {
stroke:#4CA092;
stroke-width: 2;
fill: #4CA092;
fill-opacity: 0.1;
}
*/

.pg_scroll_text {
font-size: 9px;
}

#pg_prebl {
clear:both;
/*background-color: #9999FF;*/
float:left;
}

#pg_scorelist {
font-size:10px;
fill: #0F473E;
}


#pg_selectionrect {
fill: grey;
opacity: 0.5
}

.pg_instruct {
font-size:12px;
}

.pg_tip {
width: 80px;
height:10px;
font-size:10px;
}

#pg_toptitle {
font-size:1.4em;
font-weight:bold;
}

#pg_faqs {
}

#pg_logo {
}

/* Phenogrid controls */
#pg_org_div,
#pg_sort_div,
#pg_calc_div,
#pg_axis_div {
float: left;
margin-right:10px;
display: inline-table;
}

#pg_org_div {
width:140px;
}

#pg_sort_div {
width:180px;
}

#pg_calc_div {
width:120px;
}

#pg_axis_div {
width: 120px;
}

#pg_organism,
#pg_sortphenotypes,
#pg_calculation,
#pg_axisflip {
margin-top: 5px; 
width:100%;
}

label.pg_ctrl_label{
font-weight:700;
}

.stickytooltip{
box-shadow: 5px 5px 8px #818181; /*shadow for CSS3 capable browsers.*/
-webkit-box-shadow: 5px 5px 8px #818181;
-moz-box-shadow: 5px 5px 8px #818181;
display:none;
position:absolute;
display:none;
border:1px solid #000;
background:#fff;
z-index:3000;
font:10px Arial;
}


.stickytooltip .stickystatus{ /*Style for footer bar within tooltip*/
background:black;
color:white;
padding-top:5px;
text-align:center;
font:bold 11px Arial;
}

/** Overwrite jquery-ui default style */

.ui-dialog-content {
font-size:11px;
font-family: arial;
color:#000;
}

/* End jquery-ui stuff*/

/*#redtext,
#bluetext,
#greentext {
fill: black;
}

#matches input {
padding-top:5px;
}*/

#pg_matches,
#pg_unmatchedlabel,
#pg_unmatchedlabelhide {
clear:both;
font-weight: bold;
color: rgb(68,162,147);
margin-top: 5px;
margin-left: 10px;
margin-bottom:20px;
}

#pg_unmatched a {
margin-left:19px;
}

#pg_unmatched table {
font-size: 0.8em;
padding-bottom:10px;
margin-top:10px;
}

#phenogrid_controls {
margin-left:10px;
}

.cursor_pointer {
cursor:pointer;
}

#pg_svg_container {
margin-top:40px;
}

#pg_specieslist {
  font-weight: bold;
  font-size: 18px;
  opacity: .1;
}

/* Cursor for mini map */
.draggable{
cursor:move;
}

/* clearfix hack http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
content: " "; /* 1 */
display: table; /* 2 */
}

.clearfix:after {
clear: both;
}

#unmatchedimg,
#unmatchedhideimg {
font-size:1.1em;
font-weight:bold;
color: #428bca;
vertical-align:middle;
}

#unmatchedimg {
font-size:1.4em;
}

.clearfix:after {
content: " "; /* Older browser do not support empty content */
visibility: hidden;
display: block;
height: 0;
clear: both;
}

/* Background color of jquery-ui dialog */
.faqdialog_bg_color {
background-color: #fff !important;
}

.row,
.column {
  font-family: Verdana, Geneva, sans-serif;              
  font-size: 11px;
}

.active {
  font-family: Verdana, Geneva, sans-serif;              
  font-size: 11px;
  font-weight: bold;
  fill: blue;
}

.cell.rowcolmatch {
  fill:#440000;
}

.pg_score_text {
  /*font-family: Verdana, Geneva, sans-serif;               */
  font-size: 10px;
  fill: #8763A3; /* purple */
  /*letter-spacing:-2px;*/
}

table.pgtb {
  border-collapse: collapse;
  border-spacing: 0;
}

table.pgtb td {
  font-family: Verdana, Geneva, sans-serif;
  font-size:11px;
  border-style: none;
  border-width:0px;
  overflow:hidden;
  word-break:normal;
}
table.pgtb th
{
  font-family: Verdana, Geneva, sans-serif;
/*  font-family:"Lucida Console", Monaco, monospace;*/
  font-size: 12px;
  font-weight: bold;
  padding:10px 5px;
  overflow:hidden;
  word-break:normal;
}

.pg_target_grp_divider {
  stroke: #0B20AE; /*#8763A3;  #0F473E;*/
  stroke-dasharray: 2;  /* small dots */
}

.pg_expandHPO{
  text-decoration: underline;
  color:#DC4945;
  cursor:pointer;
}

.pg_HPO_icon{
  margin-left:2px;
}

em.pg_tree_indent{
  width:12px;
  float:left;
  display:inline-block;
  height:1px;
}

.pg_cursor_pointer {
  cursor:pointer;
}

#pg_org_sel {
  margin-right: 5px;
}