/*
*  Phenogrid related styling
*/

.pg_message {
padding:10px 20px;
font-size:12px;
color:#e27b67
}

/* #pg_container contains SVG (#pg_svg) and HTML (#pg_controls, #pg_unmatched) */
.pg_container {
margin:0;
position:relative;
font-family:Verdana, Geneva, sans-serif;
font-size:12px;
}

/* HTML options popup */
.pg_container  .pg_controls {
position:absolute;
left:0;
top:0;
}

.pg_container  .pg_controls_options {
position:absolute;
width:200px;
height:434px;
background:#F1F3F8;
padding:20px;
color:#111;
border:1px solid #222;
box-shadow: 4px 4px 2px #ddd;
z-index:999; /* Only use z-index on .pg_controls_options, not not the button */
}

.pg_container  .pg_controls_options_arrow_border{
display: block;
position: absolute;
left: 27px;
top: -17px;
border-color: transparent transparent #222 transparent;
border-style: solid;
border-width: 8px;
height: 0;
width: 0;
}

.pg_container  .pg_controls_options_arrow{
display: block;
position: absolute;
left: 27px;
top: -16px;
border-color: transparent transparent #F1F3F8 transparent;
border-style: solid;
border-width: 8px;
height: 0;
width: 0;
}

.pg_container .pg_controls_close {
float:right;
margin-top:-20px;
margin-right:-20px;
color: #fff;
border-left:1px solid #222;
border-bottom:1px solid #222;
background: #605F61;
font-size: 20px;
display: inline-block;
padding:2px 5px;       
}

.pg_container .pg_controls_close:hover,
.pg_container .pg_unmatched_close:hover{
cursor:pointer;
background:#EA763B;
}

.pg_container  .pg_slide_btn{
position:absolute;
width:75px;
font-size:14px;
color:#44A293;
}

.pg_container  .pg_slide_btn:hover,
.pg_container  .pg_unmatched_btn:hover{
cursor:pointer;
color:#EA763B;
}

.pg_container  .pg_slide_open:hover,
.pg_container  .pg_unmatched_open:hover{
cursor:default !important;
color:#44A293 !important;
}


.pg_container  .pg_ctrl_label{
font-weight:700;
font-size:12px;
margin-bottom:3px;
}

.pg_container  input[type=checkbox], 
.pg_container input[type=radio] {
width:11px;
height:11px;
margin:0 2px 0 0;
vertical-align: -1px;
}

.pg_container  .pg_hr{
clear:both;
margin:10px 0;
border-bottom:1px solid #cbcbcb;
}

.pg_container  .pg_select_item{
margin:2px 0;
padding:0;
font-size:12px;
text-overflow: ellipsis;
width:200px;
height:14px;
white-space: nowrap;
overflow: hidden;
}

/* HTML unmatched sources popup */
.pg_container  .pg_unmatched {
position:absolute;
left:0;
top:0;
}

.pg_container  .pg_unmatched_list {
position:absolute;
left:30px;
background:#F1F3F8;
padding:10px;
margin-bottom:20px;
color:#111;
border:1px solid #222;
box-shadow: 4px 4px 2px #ddd;
z-index:999; /* Only use z-index on .pg_unmatched_list, not not the button */
}

.pg_container .pg_unmatched_close{
float:right;
margin-top:-10px;
margin-right:-10px;
color: #fff;
border-left:1px solid #222;
border-bottom:1px solid #222;
background: #605F61;
font-size: 20px;
display: inline-block;
padding:2px 5px;       
}

.pg_container  .pg_unmatched_list_item  a{
padding:5px 10px;
float:left;
font-size:11px;
}

.pg_container  .pg_unmatched_list_arrow_border{
display: block;
position: absolute;
left: 80px;
top: -16px;
border-color: transparent transparent #222 transparent;
border-style: solid;
border-width: 8px;
height: 0;
width: 0;
}

.pg_container  .pg_unmatched_list_arrow{
display: block;
position: absolute;
left: 80px;
top: -15px;
border-color: transparent transparent #F1F3F8 transparent;
border-style: solid;
border-width: 8px;
height: 0;
width: 0;
}

.pg_container  .pg_unmatched_btn{
position:absolute;
width:185px;
text-align:right;
font-size:14px;
color:#44A293;
}

.pg_container  .pg_row_accent,
.pg_container  .pg_col_accent {
stroke:#4CA092;
stroke-width: 2;
fill: #4CA092;
fill-opacity: 0.1;
}

.pg_container  .pg_scores_tip_icon{
cursor:pointer;
}

.pg_container .pg_tooltip {
position: absolute;
padding:5px;
z-index:1000; /* Make tooltip overlap everything */
}

.pg_container .pg_tooltip_inner {
box-shadow: 5px 5px 8px #818181; /*shadow for CSS3 capable browsers.*/
-webkit-box-shadow: 5px 5px 8px #818181;
-moz-box-shadow: 5px 5px 8px #818181;
border:1px solid #000;
background:#fff;
padding: 5px;
font-family: Verdana, Geneva, sans-serif;              
font-size: 11px;
}

/** Overwrite jquery-ui default style */
.ui-dialog-content {
font-size:11px;
font-family: arial;
color:#000;
}

/* Background color of jquery-ui dialog */
.pg_faq_dialog_bg_color {
background-color: #fff !important;
}

.pg_container  .cursor_pointer {
cursor:pointer;
}

/* Used for disabled species checkbox */
.pg_container  .pg_linethrough {
text-decoration: line-through;
}

/* Cursor for mini map */
.pg_container  .pg_draggable{
cursor:move;
}

.pg_container  .pg_dragging {
fill: #EA763B !important;
}

/* clearfix hack http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
content: " "; /* 1 */
display: table; /* 2 */
}

.clearfix:after {
content: " "; /* Older browser do not support empty content */
visibility: hidden;
display: block;
height: 0;
clear: both;
}

.pg_container  .pg_active {
font-family: Verdana, Geneva, sans-serif;              
font-size: 11px;
font-weight: bold;
fill: blue;
}

.pg_container  .pg_related_active {
font-family: Verdana, Geneva, sans-serif;              
font-size: 11px;
fill: blue;
}

.pg_container  .pg_expand_ontology,
.pg_container  .pg_expand_genotype{
text-decoration: underline;
color:#DC4945;
cursor:pointer;
}

.pg_container  .pg_expand_ontology_icon,
.pg_container  .pg_expand_genotype_icon{
margin-left:2px;
}

.pg_container  em.pg_ontology_tree_indent{
width:12px;
float:left;
display:inline-block;
height:1px;
}

.pg_container  .pg_cursor_pointer {
cursor:pointer;
}

.pg_container  .pg_focusLine {
fill: none;
stroke: red;
shape-rendering: crispEdges;
}

.pg_container  .pg_rowcolmatch {
fill: red !important;
border-style: solid;
border-width: medium;
}

.pg_container  .pg_hide {
display:none;
}

.pg_container  .pg_export:hover{
cursor:pointer;
color:#EA763B;
}






