## Ignore npm libs.
node_modules

## Ignore python behave tests generated libs
tests/behave/lib
tests/behave/bin
tests/behave/lib64
tests/behave/include 
tests/behave/ghostdriver.log

## Others
.DS_Store

*#
*~
*orig
npm-debug.log
