<html>
<head>
<meta charset="UTF-8">
<title>Monarch Phenotype Grid Widget</title>

<script src="config/phenogrid_config.js"></script>
<script src="dist/phenogrid-bundle.js"></script>

<link rel="stylesheet" type="text/css" href="dist/phenogrid-bundle.css">

<script>
var phenotypes = [
    {id:"HP:0000726", observed:"positive"},
    {id:"HP:0000746", observed:"positive"},
    {id:"HP:0001300", observed:"positive"},
    {id:"HP:0002367", observed:"positive"},
    {id:"HP:0000012", observed:"positive"},
    {id:"HP:0000716", observed:"positive"},
    {id:"HP:0000739", observed:"positive"},
    {id:"HP:0001332", observed:"positive"},
    {id:"HP:0001347", observed:"positive"},
    {id:"HP:0002063", observed:"positive"},
    {id:"HP:0002067", observed:"positive"},
    {id:"HP:0002172", observed:"positive"},
    {id:"HP:0002322", observed:"positive"},
    {id:"HP:0007159", observed:"positive"},
    {id:"HP:0009466", observed:"positive"},
    {id:"HP:0001972", observed:"positive"},
    {id:"HP:0003502", observed:"positive"},
    {id:"HP:0005190", observed:"positive"},
    {id:"HP:0001763", observed:"positive"},
    {id:"HP:0003318", observed:"positive"},
    {id:"HP:0001371", observed:"positive"},
    {id:"HP:0001380", observed:"positive"},
    {id:"HP:0001394", observed:"positive"},
    {id:"HP:0001156", observed:"positive"},
    {id:"HP:0001159", observed:"positive"},
    {id:"HP:0001004", observed:"positive"},
    {id:"HP:0010886", observed:"positive"},
    {id:"HP:0006530", observed:"positive"},
    {id:"HP:0004792", observed:"positive"},
    {id:"HP:0002816", observed:"positive"},
    {id:"HP:0000954", observed:"positive"},
    {id:"HP:0000974", observed:"positive"},
    {id:"HP:0000765", observed:"positive"},
    {id:"HP:0000602", observed:"positive"},
    {id:"HP:0002240", observed:"positive"},
    {id:"HP:0030084", observed:"positive"},
    {id:"HP:0000049", observed:"positive"},
    {id:"HP:0000028", observed:"positive"},
    {id:"HP:0000175", observed:"positive"},
    {id:"HP:0000204", observed:"positive"},
    {id:"HP:0000202", observed:"positive"},
    {id:"HP:0000316", observed:"positive"},
    {id:"HP:0000343", observed:"positive"},
    {id:"HP:0000349", observed:"positive"},
    {id:"HP:0002023", observed:"positive"},
    {id:"HP:0000327", observed:"positive"},
    {id:"HP:0002055", observed:"positive"},
    {id:"HP:0000394", observed:"positive"},
    {id:"HP:0000463", observed:"positive"},
    {id:"HP:0000431", observed:"positive"},
    {id:"HP:0000494", observed:"positive"},
    {id:"HP:0000484", observed:"positive"},
    {id:"HP:0000486", observed:"positive"},
    {id:"HP:0000508", observed:"positive"},
    {id:"HP:0009748", observed:"positive"},
    {id:"HP:0007018", observed:"positive"},
    {id:"HP:0001773", observed:"positive"},
    {id:"HP:0001769", observed:"positive"},
    {id:"HP:0003311", observed:"positive"},
    {id:"HP:0001544", observed:"positive"},
    {id:"HP:0001508", observed:"positive"},
    {id:"HP:0003196", observed:"positive"},
    {id:"HP:0001249", observed:"positive"},
    {id:"HP:0001187", observed:"positive"},
    {id:"HP:0001169", observed:"positive"},
    {id:"HP:0012774", observed:"positive"},
    {id:"HP:0002650", observed:"positive"}
];


window.onload = function() {

    // instance 1, three species, and all have matches
    Phenogrid.createPhenogridForElement(document.getElementById('phenogrid_container1'), {
        serverURL : "http://beta.monarchinitiative.org",
        phenotypeData: phenotypes,
        targetGroupList: [
            {"name": "Homo sapiens", "taxon": "9606","crossComparisonView": true, "active": true},
            {"name": "Mus musculus", "taxon": "10090", "crossComparisonView": true, "active": true},
            {"name": "Danio rerio", "taxon": "7955", "crossComparisonView": true, "active": true}
       ]
    });
    
    // instance 2, same config as instance 1
    Phenogrid.createPhenogridForElement(document.getElementById('phenogrid_container2'), {
        serverURL : "http://beta.monarchinitiative.org",
        phenotypeData: phenotypes,
        targetGroupList: [
            {"name": "Homo sapiens", "taxon": "9606","crossComparisonView": true, "active": true},
            {"name": "Mus musculus", "taxon": "10090", "crossComparisonView": true, "active": true},
            {"name": "Danio rerio", "taxon": "7955", "crossComparisonView": true, "active": true}
       ]
    });
    
    // instance 3, only human, has matches
    Phenogrid.createPhenogridForElement(document.getElementById('phenogrid_container3'), {
        serverURL : "http://beta.monarchinitiative.org",
        phenotypeData: phenotypes,
        targetGroupList: [
            {"name": "Homo sapiens", "taxon": "9606","crossComparisonView": true, "active": true},
            {"name": "Mus musculus", "taxon": "10090", "crossComparisonView": false, "active": false},
            {"name": "Danio rerio", "taxon": "7955", "crossComparisonView": false, "active": false}
       ]
    });


    // instance 4, only fish but no matches
    Phenogrid.createPhenogridForElement(document.getElementById('phenogrid_container4'), {
        serverURL : "http://beta.monarchinitiative.org",
        phenotypeData: [{id:"WBPhenotype:0001331", observed:"positive"},
    {id:"WBPhenotype:0000679", observed:"positive"},
    {id:"WBPhenotype:0002001", observed:"positive"},
    {id:"WBPhenotype:0000050", observed:"positive"}],
        targetGroupList: [
            {"name": "Homo sapiens", "taxon": "9606","crossComparisonView": false, "active": false},
            {"name": "Mus musculus", "taxon": "10090", "crossComparisonView": false, "active": false},
            {"name": "Danio rerio", "taxon": "7955", "crossComparisonView": false, "active": true}
       ]
    });
    
    // instance 5, misconfig
    Phenogrid.createPhenogridForElement(document.getElementById('phenogrid_container5'), {
        serverURL : "http://beta.monarchinitiative.org",
        phenotypeData: phenotypes,
        targetGroupList: [
            {"name": "Homo sapiens", "taxon": "9606","crossComparisonView": false, "active": false},
            {"name": "Mus musculus", "taxon": "10090", "crossComparisonView": false, "active": false},
            {"name": "Danio rerio", "taxon": "7955", "crossComparisonView": false, "active": false}
       ]
    });
}
</script>

</head>

<body>

<div class="pg_index">

<div id="phenogrid_container1" class="clearfix"></div>

<div id="phenogrid_container2" class="clearfix"></div>

<div id="phenogrid_container3" class="clearfix"></div>

<div id="phenogrid_container4" class="clearfix"></div>

<div id="phenogrid_container5" class="clearfix"></div>

<link rel="stylesheet" property="stylesheet" href="node_modules/gfm.css/gfm.css">
<div style="padding:1%;margin:1%;border:1px solid lightgray;">
<article class="markdown-body">
@@include(marked('../README.md'))
</article>
<div/>

</body>
</html>
